<header id="header" class="header fixed-top">
    <div class="topbar d-flex align-items-center">
        <div class="container d-flex justify-content-center justify-content-md-between">
            <div class="contact-info d-flex align-items-center">
                <i class="bi bi-envelope d-flex align-items-center">
                    <a href="mailto:info@tantunimesutusta.com">info@tantunimesutusta.com</a>
                </i>
                <i class="bi bi-phone d-flex align-items-center ms-4">
                    <span>+90 212 489 16 17</span>
                </i>
            </div>
        </div>
    </div>
    <!-- End Top Bar -->
    <!-- Logo ve Menü -->
    <div class="branding d-flex align-items-center">
        <div class="container position-relative d-flex align-items-center justify-content-between">
            <a href="/" class="logo d-flex align-items-center me-auto me-xl-0">
                <img src="@Url.Content("~/restaurantly-1.0.0/assets/img/logo512.png")" alt="Tantunici Mesut Usta Logo" height="200">
                <h1 class="sitename" style="text-decoration: none; border-bottom: none;">Tantunici Mesut Usta</h1>
            </a>

            <nav id="navmenu" class="navmenu">
                <ul>
                    <li><a href="#hero" class="active">Anasayfa</a></li>
                    <li><a href="#about">Hakkımızda</a></li>
                    <li><a href="#menu">Menü</a></li>
                    <li><a href="#chefs">Ekibimiz</a></li>
                    <li><a href="#gallery">Galeri</a></li>
                    <li><a href="#testimonials">Yorumlar</a></li>
                </ul>
                <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
            </nav>

            <a class="btn-book-a-table d-none d-xl-block" href="#contact">İLETİŞİM</a>

        </div>
    </div>

</header>
