@using lokantaWebProject.Entities
@model Category

@{
    ViewData["Title"] = "Yeni Kategori Ekle";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-8 offset-lg-2">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Yeni Kategori Ekle</h4>

            <form asp-action="Create" method="post">
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-inverse-success rounded-pill fw-bold">
                    <i class="fa fa-save"></i> Kaydet
                </button>
                <a asp-action="Index" class="btn btn-secondary rounded-pill fw-bold">
                    İptal
                </a>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}