@using lokantaWebProject.Areas.Admin.Models
@model CreateAdminViewModel
@{
    ViewData["Title"] = "Yeni Admin Oluştur";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2 class="text-white">Yeni Admin Oluştur</h2>
<hr />

@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        @TempData["Success"]
    </div>
}

<form asp-action="CreateAdmin" method="post" class="mt-4">
    <div class="form-group">
        <label>Ad Soyad</label>
        <input asp-for="FullName" class="form-control" />
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Email</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Şifre</label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Rol Seçimi</label>
        <select asp-for="Role" class="form-control">
            <option value="">Seçiniz</option>
            <option>Admin</option>
            <option>SuperAdmin</option>
        </select>
        <span asp-validation-for="Role" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">Admin Oluştur</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

