@using lokantaWebProject.Entities
@model About

@{
    ViewData["Title"] = "Hakkımızda Detayları"; // Sayfanın başlığı
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-6 offset-lg-3">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Hakkımızda Bilgisi Detayları</h4> <dl class="row">
                <dt class="col-sm-4">Başlık</dt>
                <dd class="col-sm-8">@Model.Title</dd>

                <dt class="col-sm-4">Açıklama</dt>
                <dd class="col-sm-8">@Model.Description</dd>
            </dl>

            <a href="@Url.Action("Edit", "About", new { id = Model.Id })" class="btn btn-primary">
                <i class="fa fa-pencil-alt"></i> Düzenle
            </a>
            <a href="@Url.Action("Index", "About")" class="btn btn-secondary">
                Listeye Geri Dön
            </a>
        </div>
    </div>
</div>